.striked {
    text-decoration: line-through;
  }
  
.TodoList{
  background: linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
  border: solid 1px #fff;
}

.TodoAddNew{
  padding: 10px;
  margin: 10px;
}

input{
padding: 10px;
margin: 20px;
border: solid 2px black;
width:200px;
}